body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #363434;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

.user-info {
    text-align: center;
}


.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.personel-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}

.personel-info p {
    margin: 0%;
    color: solid black;
}

.email {
    display: flex;
    align-items: center;
}

.email a:hover{
    color: #000000;
    text-decoration: underline #77037B;
}

.email img {
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: calc(45% - 20px);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
    }

    .logout {
        margin: 10px auto;
    }

    .button {
        margin: 10%;
    }
}

.navbar {
    background-color: #77037B;
    display: flex;
    color: white;
    font-weight: 200;
    height: 80px;
    padding: 0 20px;
}


.navbar img {
    margin-top: 5px;
    /* Adjusted margin */
    height: 70px;
    width: 70px;
}

.navbar span {
    margin-right: auto;
}
.navbar span:hover{
    color: #EABE6C;
    cursor: pointer;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dropdown img{
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

.dropdown-content a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #d8ecf9;
    color: #7402ff;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #77037B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}

.button:hover {
    color: #EABE6C;
}

.logout {
    text-align: center;
    margin: 10%;
    /* Adjusted margin */
    padding: 10px 20px;
    background-color: #77037B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.logout a {
    text-decoration: none;
    color: white;
}

.logout a:hover {
    color: #EABE6C;
}

.button-container a {
    text-decoration: none;
}

ul.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.message {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, margin-left 0.5s ease-in-out;
    margin-left: -100%;
    /* Start off-screen */
    text-align: center;
}

li.message.show {
    margin-left: 0;
    /* Slide in from the left */
}

li.message:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message.error {
    border: 1px solid #E74C3C;
    background-color: #f55f48;
    color: white;
}

.message.success {
    border: 1px solid #02f467;
    background-color: #62f3a3;
    color: black;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.close-btn:hover {
    color: #333;
    /* Darken the color on hover */
}

.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.info a {
    text-decoration: none;
    color: black;
}


.name-email {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name-email p {
    margin: 0%;
}


.home {
    display: flex;
    align-items: center;
}

.home a:hover{
    color: #000000;
    text-decoration: underline #77037B;
}

.create-group {
    display: flex;
    align-items: center;

}


.create-group a:hover{
    color: #000000;
    text-decoration: underline #77037B;
}




.home img {
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: middle;
    height: 30px;
    width: 30px;
}

.create-group img {
    margin-right: 10px;
    margin-top: 10px;
    vertical-align: middle;
    height: 30px;
    width: 30px;

}